@charset "utf-8";

/************* header *************/

html {
  margin: 0;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

h1 {
  font-size: 3.75rem;
  position: relative;
  text-transform: capitalize;
  font-family: "Cormorant Garamond", serif;
}

h3 {
  font-family: "Cormorant Garamond", serif;
}

h5 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.313rem;
}

header h4 {
  text-transform: capitalize;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

header .header_menu h4 {
  font-size: 1.875rem;
  display: grid;
  place-content: center;
  padding: 10px;
  border-right: 1px solid white;
}

header .main-text {
  height: 100vh;
  background: url(./images/main.png) no-repeat 50% / cover;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  color: white;
}

header .header_menu {
  display: flex;
  width: 90%;
  border: 1px solid white;
  position: absolute;
  margin: 20px auto;
  left: 0;
  right: 0;
  color: white;
  height: 80px;
}

header .header_menu .menubar {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

header .header_menu .menubar menu {
  display: flex;
  visibility: hidden;
}

header .header_menu .menubar menu li {
  /* padding: 20px; */
}

header .header_menu .menubar .login {
  position: absolute;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
  /* padding: 20px; */
}
header .header_menu .menubar .sub_menu {
  position: absolute;
  left: 180px;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
}

header .header_menu .menubar menu header .header_menu menu li {
  padding: 10px;
  white-space: nowrap;
}

header .header_menu a {
  width: 80px;
  height: 100%;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  /* padding: 5px; */
  position: absolute;
  right: 0;
  display: block;
  border-left: 1px solid white;
}

header .header_menu a svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: white;
}

header .main-text h1::after {
  content: "";
  height: 99px;
  width: 1px;
  background-color: white;
  position: absolute;
  bottom: -150px;
  left: 50%;
}

header .main-text h3 {
  font-size: 1.25rem;
  position: relative;
}

header .main-text h3::after {
  content: "";
  height: 99px;
  width: 1px;
  background-color: white;
  position: absolute;
  top: -150px;
  left: 50%;
}

/***************** /header ***************/

/***************** main introduce *****************/

main .introduce {
  height: 77.3462783171521vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 30px;
}

main .introduce img {
  width: 45%;
  position: absolute;
  right: 0;
  top: 18%;
  z-index: -9;
}

main .introduce h1 {
  color: #6f914b;
}

main .introduce h1 span {
  display: block;
}

main .introduce h6 {
  margin: 15px 0 20px;
}

main .introduce .sub_text p:last-child {
  display: none;
}

/****************** /main introduce *****************/

/****************** gallery ******************/

main h5 {
  margin-bottom: 50px;
}

main .gallery {
  /* gap: 20px; */
  /* grid-template-columns: repeat(2, 1fr); */
}

main .gallery figure {
  position: relative;
  margin: 10px 0;
}

main .gallery .line1_img .main1_img,
main .gallery .line2_img .main2_img {
  /* aspect-ratio: 1; */
}

main .gallery figcaption {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: white;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

main .gallery .black {
  color: black;
  right: 100px;
}

main .gallery figcaption span {
  display: block;
  font-family: "Noto Sans KR", sans-serif;
}

main .gallery .line1_img .main1_img {
  /* height: 47.12041vh; */
}

main .gallery img {
  height: 100%;
  object-fit: cover;
}

main .gallery .line2_img .small_img {
  display: flex;
}

main .gallery .line1_img .small_img {
  display: flex;
}

main .gallery .long_img {
  aspect-ratio: 175/300;
  margin: 10px;
}

main .gallery .line2_img figure:nth-child(1) {
  /* height: 47.12041vh; */
}

main .gallery .line2_img figure:nth-child(1) img {
  /* height: 100%;
  object-fit: cover; */
}

/* /gallery */

/************** flower **************/

main .flower {
  background-color: #879a82;
  height: 46.563rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px 30px;
  margin: 150px 0;
}

main .flower h1 {
  font-size: 6.25rem;
  text-shadow: #555555 1px 1px 5px;
}

main .flower h1 span {
  display: none;
}

main .flower h5 {
  margin: 0;
  font-size: 1.25rem;
}

main .flower .flower_img {
  display: none;
}

main .flower .gallery_text {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 20px;
  gap: 50px;
  /* text-align: center; */
}

main .flower span {
  border: 3px solid white;
  width: 300px;
  height: 68px;
  margin: 0 auto;
  border-radius: 50px;
  display: flex;
  line-height: 68px;
  justify-content: center;
}

main .flower span svg {
  fill: white;
  transition: 0.3s;
}

main .flower span a {
  display: block;
  display: flex;
  align-items: center;
}

main .flower .btn:hover svg {
  transform: translateX(10px);
}

/* /flower */

/*************** history **************/

main .history ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

main .history p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
}

main .history .year {
  font-weight: 500;
  font-size: 1.1rem;
}

main .history ul li {
  text-align: center;
  position: relative;
}

main .history figure figcaption h6,
main .history figure figcaption p {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
}

main .history h6 {
  font-size: 1.125rem;
}

main .history ul li .out {
  background-color: white;
  width: 20px;
  aspect-ratio: 1;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

main .history ul li .in {
  width: 5px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  /* top: -20px; */
  left: 50%;
  transform: translateX(-50%);
}

main .history ul li::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: black;
  position: absolute;
  right: 0;
  top: -18px;
  transform: translateY(-50%);
}

main .history ul li figure {
  width: 90%;
  margin: 30px auto;
}

main .history ul li figure img {
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1;
  margin-bottom: 30px;
}

main .history ul li p {
  padding: 30px 0;
}

/* /history */

/************ contents ************/

main .contents {
  margin: 100px 0;
}

main .contents .hidden {
  display: none;
}

main .contents figure {
  width: 80%;
  aspect-ratio: 1;
  margin: 0 auto;
  text-align: center;
}

main .contents figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* /contents */

/************** news *************/

main .news h6 {
  /* width: 80%; */
  /* margin: 0 auto; */
  font-size: 1rem;
  margin-bottom: 20px;
}

main .news {
  width: 100%;
}

main .news .left_text .ul_flex {
  display: flex;
  /* width: 100%; */
  justify-content: space-between;
  padding: 10px;
}

main .news .left_text .ul_flex ul {
  width: 100%;
  /* padding: 10px; */
}

main .news .left_text .ul_flex ul:last-child {
  text-align: end;
  display: none;
}

main .news .left_text {
  width: 90%;
  /* padding: 30px; */
  margin: 0 auto;
}

main .news .left_text ul li {
  width: 100%;
  padding: 20px 0;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid #879a82;
  font-size: 0.875rem;
}

main .news .left_text ul:first-child li:last-child {
  border: none;
  text-align: center;
}

main .news .right_text {
  width: 100%;
  padding: 30px;
}

main .news .right_text table {
  width: 100%;
  text-align: center;
  font-size: 0.875rem;
}

main .news .right_text table td {
  border: 1px solid #879a82;
  height: 45px;
}

main .news .right_text table th {
  color: white;
  border: 1px solid white;
}

main .news .right_text table thead {
  background-color: #879a82;
  height: 45px;
  border: 2px solid #879a82;
}

main .news .right_text table tbody {
  height: 45px;
}

main .news .right_text ul {
  list-style-type: disc;
  padding: 20px 20px 20px 40px;
  font-size: 0.875rem;
}

/* /news */

/***************** location ***************/

main .location .textbox h6 {
  font-family: "Noto Sans KR", sans-serif;
}

main .location .textbox {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px;
}

main .location .textbox ul span {
  display: block;
}

main .location .textbox h6 {
  margin-bottom: 30px;
  font-size: 1rem;
}

main .location .textbox ul {
  font-size: 0.875rem;
}

/* /location */

/************* footer *************/

footer .footer_img {
  background: url(./images/DSC01690\ 1.png) no-repeat 50% / cover;
  aspect-ratio: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .footer_img h1 {
  text-align: center;
  margin-bottom: 40px;
  line-height: 60px;
}

footer .footer_img .icon {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

footer .footer_img .icon img {
  width: 7%;
}

footer .footer_text {
  background-color: #222222;
  color: white;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
  justify-content: space-between;
  height: 60vh;
  font-size: 0.875rem;
}

footer .footer_text ul:first-child li {
  margin-bottom: 10px;
}

footer .footer_text ul:nth-child(2) li:first-child {
  margin-bottom: 10px;
}

footer .footer_text ul:nth-child(2) li:nth-child(2) {
  margin-bottom: 70px;
}

footer .footer_text ul:last-child li:first-child {
  margin-bottom: 10px;
}
