@charset "utf-8";

@import url(../common/style/fonts.css);

.flex {
  display: flex;
}

h1,
h2 {
  font-family: 'Six Caps', sans-serif;
}

h1 {
  font-size: 18.75rem;
}

h2 {
  font-size: 5rem;
  text-transform: uppercase;
}

h3 {
  font-size: 3.125rem;
  text-transform: uppercase;
  font-weight: 700;
  /* margin: 130px 0; */
}

h4 {
  font-size: 1.875rem;
  font-weight: 500;
}

body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', sans-serif;
  font-size: 17px;
}

section {
  width: 90%;
  border-top: 2px solid #222;
  /* margin: 6.25rem auto; */
  margin: 0 auto;
  padding: 130px;
}

header {
  width: 90%;
  margin: 0 auto;
  /* position: relative; */
}

.go_back {
  align-items: center;
  text-transform: uppercase;
  gap: 30px;
  font-size: 1.3rem;
}

.go_back svg {
  display: block;
}

header h2 span {
  font-size: 1.25rem;
  font-weight: 600;
}

header .img_box img {
  width: 70%;
  object-fit: contain;
  margin-right: 30px;
}

header ul {
  font-size: 1.563rem;
  justify-content: center;
  gap: 20px;
  font-weight: 500;
}

/* header end */

section {
  justify-content: space-between;
}

/************ goal ***********/

.goal {
  justify-content: space-between;
  margin-top: 80px;
}

.goal ol {
  /* width: 300px; */
  /* margin: 0 auto 130px; */
  font-size: 25px;
  white-space: nowrap;
  font-weight: 500;
  line-height: 1.5;
}

/************ style ***********/

.style {
  text-transform: capitalize;
}

.style table {
  border-spacing: 15px;
  border-collapse: separate;
}

.style table .background1 {
  background-color: #6f914b;
  color: white;
}
.style table .background2 {
  background-color: #879a82;
  color: white;
}
.style table .background3 {
  background-color: #222222;
  color: white;
}

/********** publishing *********/

.publishing {
  margin: 0 auto;
}

.publishing ul {
  list-style: disc;
  /* margin: 0 auto 130px; */
  width: 60%;
  white-space: nowrap;
  line-height: 3;
}

.publishing ul span {
  background: rgba(255, 153, 0, 0.3);
}

/*********** solution ***********/

.solution h3 {
  margin-bottom: 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.solution .line1 {
  justify-items: start;
  width: 98%;
  margin: 0 auto;
}

.solution .line1 .svg {
  justify-self: center;
}

.solution .line2 {
  justify-content: space-between;
  width: 98%;
  margin: 0 auto;
}

.solution .line2 {
  padding-top: 240px;
}

/* .solution .svg {
  position: absolute;
} */

.solution p,
.solution ul {
  margin-top: 50px;
  line-height: 2;
}

.solution ul {
  list-style: disc;
  margin-left: 30px;
}

.solution ul .box {
  border: 1px solid #222;
  white-space: nowrap;
  padding: 30px;
}

.solution ul .box2 {
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
}

.solution ul .box2 span:nth-child(2) {
  grid-row-start: 2;
}

.solution ul .box2 span:nth-child(3) {
  grid-row-start: 3;
}

.solution ul .li_margin {
  margin-top: 50px;
}

.solution ul .sub_li {
  list-style: none;
}

/* footer */

footer {
  width: 90%;
  margin: 0 auto;
  border-top: 3px solid #222;
  padding: 90px;
  text-align: center;
}
footer img {
  width: 10%;
  margin-bottom: 15px;
}

footer a span {
  text-decoration: underline;
}
