@charset "utf-8";

@import url(../common/style/fonts.css);

.flex {
  display: flex;
}

h1,
h2 {
  font-family: 'Six Caps', sans-serif;
}

h1 {
  font-size: 18.75rem;
}

h2 {
  font-size: 5rem;
  text-transform: uppercase;
}

h3 {
  font-size: 3.125rem;
  text-transform: uppercase;
  font-weight: 700;
  /* margin: 130px 0; */
}

h4 {
  font-size: 1.875rem;
  font-weight: 500;
}

body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', sans-serif;
  font-size: 17px;
}

section {
  width: 90%;
  border-top: 2px solid #222;
  /* margin: 6.25rem auto; */
  margin: 0 auto;
  padding: 130px;
}

header {
  width: 90%;
  margin: 0 auto;
  /* position: relative; */
}

.go_back {
  align-items: center;
  text-transform: uppercase;
  gap: 30px;
  font-size: 1.3rem;
}

.go_back svg {
  display: block;
}

header h2 span {
  font-size: 1.25rem;
  font-weight: 600;
}

header .img_box img {
  width: 70%;
  object-fit: contain;
  margin-right: 30px;
}

header ul {
  font-size: 1.563rem;
  justify-content: center;
  gap: 20px;
  font-weight: 500;
}

/* header end */

section {
  justify-content: space-between;
}
