@charset "utf-8";

main {
  /* overflow: hidden; */
}

h1 {
  font-family: "Six Caps", sans-serif;
  text-transform: uppercase;
  font-size: 20rem;
  /* color: white; */
}

.flex {
  display: flex;
}

header .menu_text {
  width: 100%;
  justify-content: space-between;
  padding: 30px;
  position: absolute;
  top: 0;
  color: white;
  z-index: 9;
}

header .background_wall {
  background: linear-gradient(-15deg, #7d83d1 30%, #24243a 0%, #52519c);
  width: 100%;
  height: 150vh;
  overflow: hidden;
  z-index: -9;
}

header {
  overflow: hidden;
  width: 100%;
}

header .radius_background {
  background: linear-gradient(
    -15deg,
    #faff00 10%,
    #fe543b 30%,
    #f54a7d 40%,
    #6259a8 70%,
    #4d41ae 100%
  );
  width: 90rem;
  aspect-ratio: 1;
  position: absolute;
  top: -50%;
  left: -5%;
  border-radius: 50%;
  overflow: hidden;
}

header .radius_background .palmtree {
  width: 70rem;
  position: absolute;
  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header .radius_background .birds {
  position: absolute;
  top: 25%;
  left: 30%;
  width: 50rem;
}

header .main_project {
  position: absolute;
  top: 100px;
  right: 130px;
  z-index: 9999;
}

header .main_project h1 {
  /* padding: 50px 0; */
  text-shadow: white -3px 3px;
}

/*************************** /header ****************************/

/*************************** main ****************************/

main {
  height: 200vh;
}

main .main_top {
  /* height: 200vh; */
  position: relative;
}

main .main_top svg {
  width: 100%;
  position: absolute;
  top: -60rem;
}

main .main_text {
  height: 500vh;
  background-color: #7d83d1;
  padding-top: 800px;
}
main .main_top .shadow_gradient {
  overflow: hidden;
}

main .main_top .shadow_gradient svg {
  width: 1900px;
  padding-top: 100px;
}
