@charset "utf-8";

body {
  font-family: "Noto Sans KR", sans-serif;
}

h1 {
  font-family: "Six Caps", sans-serif;
  text-transform: uppercase;
  font-size: 20rem;
  color: black;
}

h2 {
  font-family: "Six Caps", sans-serif;
  text-transform: uppercase;
  font-size: 12rem;
  color: white;
}

.flex {
  display: flex;
}

header .menu_text {
  width: 100%;
  justify-content: space-between;
  padding: 30px;
  position: absolute;
  top: 0;
  color: white;
  z-index: 9;
}

header .background_wall {
  background: linear-gradient(-15deg, #7d83d1 30%, #24243a 0%, #52519c);
  width: 100%;
  height: 150vh;
  overflow: hidden;
  z-index: -9;
}

header {
  overflow: hidden;
  width: 100%;
}

header .radius_background {
  background: linear-gradient(
    -15deg,
    #faff00 10%,
    #fe543b 30%,
    #f54a7d 40%,
    #6259a8 70%,
    #4d41ae 100%
  );
  width: 90rem;
  aspect-ratio: 1;
  position: absolute;
  top: -50%;
  left: -5%;
  border-radius: 50%;
  overflow: hidden;
}

header .radius_background .palmtree {
  width: 70rem;
  position: absolute;
  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header .radius_background .birds {
  position: absolute;
  top: 25%;
  left: 30%;
  width: 50rem;
}

header .main_project {
  position: absolute;
  top: 100px;
  right: 130px;
  z-index: 9999;
}

header .main_project h1 {
  /* padding: 50px 0; */
  text-shadow: white -3px 3px;
}

header .main_project span {
  color: white;
}

/*************************** /header ****************************/

/*************************** main ****************************/

main {
  height: 650vh;
  /* overflow: hidden; */
  position: relative;
}

main .main_top {
  /* height: 200vh; */
  position: relative;
}

main .main_top svg {
  width: 100%;
  position: absolute;
  top: -60rem;
}

main .main_text {
  height: 650vh;
  background: linear-gradient(#7d83d1 80%, #111);
  padding-top: 800px;
  color: white;
  position: relative;
  z-index: -9;
}

main .main_text .about {
  text-indent: 200px;
  margin-bottom: 300px;
}

main .main_top .shadow_gradient {
  /* overflow: hidden; */
}

main .main_top .shadow_gradient svg {
  width: 100%;
  padding-top: 100px;
}

main .main_text p {
  font-size: 2rem;
  margin-bottom: 100px;
  width: 83%;
  padding-left: 250px;
}

main .main_text .gradient {
  /* background-color: lightblue; */
  width: 50rem;
  height: 120rem;
  position: absolute;
  top: 10%;
  right: 0;
  overflow: hidden;
  position: absolute;
}

main .main_text .gradient img {
  width: 100%;
  position: absolute;
  top: 70%;
  left: 30%;
  transform: translateY(-50%);
}

main .main_text .main_illust {
  position: absolute;
  top: 25%;
}

main .main_text .main_illust .cycling {
  position: absolute;
  top: 52%;
  left: 75%;
  width: 20%;
  animation-name: cycling;
  animation-duration: 2.5s;
  animation-duration: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform-origin: bottom;
  /* animation-fill-mode: forwards; */
}

@keyframes cycling {
  0% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(15deg);
  }
}

main .main_text .main_illust .stone1 {
  position: absolute;
  top: 70%;
  left: 90%;
  width: 20px;
  animation-name: stone;
  animation-duration: 2s;
  animation-duration: linear;
  animation-iteration-count: infinite;
  /* animation-direction: alternate; */
}
main .main_text .main_illust .stone2 {
  position: absolute;
  top: 70%;
  left: 92%;
  width: 25px;
  animation-name: stone_2;
  animation-duration: 3s;
  animation-duration: linear;
  animation-iteration-count: infinite;
  transform: rotate(-10deg);
  /* animation-direction: alternate; */
}

@keyframes stone {
  0% {
    transform: translate(0);
    opacity: 0;
  }

  50% {
    /* transform: translate(50px, -40px); */
    opacity: 0.7;
  }

  100% {
    transform: translate(60px, -40px);
    opacity: 0;
  }
}

@keyframes stone_2 {
  0% {
    transform: translate(0);
    opacity: 0;
  }

  50% {
    /* transform: translate(50px, -40px); */
    opacity: 0.7;
  }

  100% {
    transform: translate(70px, -20px);
    opacity: 0;
  }
}

main .main_text .main_illust .climing {
  position: absolute;
  top: 84%;
  left: 14%;
  width: 20%;
  transform: rotate(10deg);
  animation-name: climing;
  animation-duration: 5s;
  animation-duration: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform-origin: top;
}

@keyframes climing {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(10deg);
  }
}

main .main_text .main_illust .stone3 {
  position: absolute;
  top: 95%;
  left: 32%;
  width: 20px;
  animation-name: stone_3;
  animation-duration: 2.5s;
  animation-duration: linear;
  animation-iteration-count: infinite;
  /* animation-direction: alternate; */
  /* transform-origin: top; */
}
main .main_text .main_illust .stone4 {
  position: absolute;
  top: 95%;
  left: 12%;
  width: 10px;
  animation-name: stone_3;
  animation-duration: 2s;
  animation-duration: linear;
  animation-iteration-count: infinite;
}
main .main_text .main_illust .stone5 {
  position: absolute;
  top: 90%;
  left: 10%;
  width: 18px;
  animation-name: stone_3;
  animation-duration: 1.5s;
  animation-duration: linear;
  animation-iteration-count: infinite;
}

@keyframes stone_3 {
  0% {
    transform: rotate(10deg);
    transform: translate(0);
    opacity: 0;
  }

  50% {
    /* transform: translate(50px, -40px); */
    opacity: 0.5;
  }

  100% {
    transform: rotate(20deg);
    transform: translateY(50px);
    opacity: 0;
  }
}

/*********************** skill ************************/

main .main_text .skill {
  margin-top: 135vh;
  position: relative;
  overflow: hidden;
  padding-left: 200px;
}

main .main_text .skill h1 {
  text-indent: 65%;
}

main .main_text .skill h2 {
  margin: 0;
  padding: 0;
}

main .main_text .skill h5 {
  font-size: 3.125rem;
  font-weight: 900;
}

main .main_text .skill ul {
  font-size: 1.1rem;
  font-weight: 700;
  margin: 30px 0 100px 0;
}

main .main_text .skill .text {
  gap: 25%;
}

main .main_text .skill .text_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

main .footer_gradient {
  width: 80rem;
  height: 80rem;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -9;
}

main .img {
  overflow: hidden;
}

main .img .footer_palm {
  position: absolute;
  bottom: -4rem;
  left: 0;
  width: 20%;
}

main .img .bmx {
  position: absolute;
  bottom: 0.1%;
  left: 10%;
  width: 5%;
}

main .img .birds {
  position: absolute;
  bottom: 7rem;
  left: 3rem;
  width: 50%;
  transform: rotate(18deg);
}

main .img .stars {
  position: absolute;
  bottom: 5%;
  left: 3rem;
  width: 70%;
}

main .img #star1 {
  left: 50rem;
}
main .img #star2 {
}
main .img #star3 {
}
main .img #star4 {
  bottom: 20%;
  animation-name: star;
  animation-duration: 3s;
  animation-duration: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform-origin: bottom;
}
main .img #star5 {
}
main .img #star6 {
  left: 20%;
  bottom: 10%;
  animation-name: star;
  animation-duration: 5s;
  animation-duration: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform-origin: bottom;
}

@keyframes star {
  0% {
    opacity: 0;
  }

  50% {
    /* transform: translate(50px, -40px); */
    opacity: 0.7;
  }

  100% {
    opacity: 0;
  }
}

main .img .light {
  position: absolute;
  bottom: 0;
  right: 10rem;
  width: 12%;
}

main .img #light1 {
  bottom: -1rem;
  right: 60%;
}
main .img #light2 {
  bottom: -1rem;
  right: 40%;
  width: 11%;
}
main .img #light3 {
  bottom: -1rem;
  right: 20%;
}

/********************** footer */

footer {
  height: 30rem;
  background: linear-gradient(#000, #222);
  color: white;
  position: relative;
}

footer .car {
  overflow: hidden;
  width: 100%;
}

footer img {
  position: absolute;
  bottom: 1rem;
  width: 30%;
  animation-name: car;
  animation-duration: 3s;
  animation-duration: linear;
  animation-iteration-count: infinite;
  /* animation-direction: alternate; */
  transform-origin: bottom;
  width: 30%;
  object-fit: contain;
}

@keyframes car {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(400%);
  }
}
