@import 'utf-8';

@import url(../common/style/fonts.css);

body {
  background-color: #191619;
  color: #fff;
  font-family: 'Noto Sans KR', sans-serif;
}

h1 {
  font-size: 5rem;
  font-family: 'Universal Serif';
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.pt_sans {
  font-family: 'PT Sans Narrow', sans-serif;
}

/* header */

header {
  width: 100%;
  padding: 30px;
}

header ul {
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  font-size: 1.125rem;
}

/* top */

.top {
  background: url(./images/top.png) no-repeat 50% / cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

.top .main_text {
  position: absolute;
  top: 20%;
  left: 3%;
}

.top .main_text h1 span {
  display: block;
  font-size: 1.875rem;
}

.top .main_text h1:last-child {
  text-indent: 30rem;
  position: relative;
}

.top .main_text h1:last-child span {
  position: absolute;
  right: 0;
}

.main_icon {
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.main_icon ul {
  align-items: center;
  gap: 38px;
}

/* middle */

.middle .sns {
  justify-content: space-evenly;
  font-size: 1.563rem;
}

.middle .mov {
  overflow: hidden;
}

.middle .mov h1 {
  font-size: 17.5rem;
  white-space: nowrap;
  animation: text_mov 10s infinite;
  color: #10b3e2;
}

@keyframes text_mov {
  0% {
    transform: translateX(-500%);
  }

  100% {
    transform: translateX(500%);
  }
}

.middle .main_images {
  margin: 0 auto;
}

.middle .main_images img {
  width: 100%;
}

.middle p {
  text-align: center;
  font-size: 2.125rem;
  margin: 50px auto;
}

/* main */

.main .text {
  padding-right: 20rem;
  padding-bottom: 20px;
  justify-content: space-between;
  font-size: 2.375rem;
  width: 97%;
  margin: 10rem auto 3.125rem;
  border-bottom: 3px solid #fff;
}

.main .img_box {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 0 auto;
  place-items: center;
  row-gap: 58px;
}

.main .img_box figure figcaption h5 {
  font-size: 1.875rem;
  border-bottom: 3px solid #fff;
  margin-bottom: 10px;
}

.main .img_box figure figcaption p {
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;
}

.main .img_box figure figcaption p span {
  color: #10b3e2;
}

.main .btn {
  width: 97%;
  height: 260px;
  font-size: 8.125rem;
  text-transform: uppercase;
  font-family: 'Universal Serif';
  display: block;
  text-align: center;
  border: 3px solid #fff;
  border-radius: 40px;
  line-height: 260px;
  margin: 100px auto;
}

/* bottom */

.bottom {
  background: url(./images/footer_img.png) no-repeat 50% / cover;
  height: 65vh;
  padding: 100px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

.bottom p {
  color: #10b3e2;
}

.bottom .right_box {
  flex-direction: column;
}

/* footer */

footer ul.grid {
  margin: 0 auto;
  padding: 15px;
  width: 97%;
  grid-template-columns: repeat(3, 1fr);
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
}

footer .text_box {
  margin: 50px;
  grid-template-columns: repeat(2, 1fr);
}
