@charset 'utf-8';

@import url(../common/style/fonts.css);

body {
  background-color: #191619;
  color: #fff;
  font-family: 'Noto Sans KR', sans-serif;
}

h1 {
  font-size: 5rem;
  font-family: 'Universal Serif', 'Gentium Book Plus';
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.pt_sans {
  font-family: 'PT Sans Narrow', sans-serif;
}

/* header */

header {
  width: 100%;
  padding: 30px;
  justify-items: center;
  align-items: center;
}

header ul {
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  font-size: 1.125rem;
}

.ham {
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  width: 60px;
  height: 55px;
  cursor: pointer;
  /*  background: rgba(255,255,255,0.3); */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ham span {
  display: block;
  background: #fff;
  width: 42px;
  height: 4px;
  border-radius: 3px;
  transition: margin 0.25s 0.25s, transform 0.25s;
}
.ham .bar1 {
  margin-bottom: 8px;
}
.ham .bar2 {
}
.ham .bar3 {
  margin-top: 8px;
}

.ham.active span {
  transition: margin 0.25s, transform 0.25s 0.25s;
}

.ham.active .bar1 {
  margin-top: 8px;
  margin-bottom: -4px;
  transform: rotate(45deg);
}
.ham.active .bar2 {
  transform: rotate(45deg);
}
.ham.active .bar3 {
  margin-top: -4px;
  transform: rotate(135deg);
}

/* top */

.top {
  background: url(./images/top.png) no-repeat 50% / cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

.top .main_text {
  position: absolute;
  top: 20%;
  left: 3%;
}

.top .main_text h1 {
  transition: 1s;
}

.top .main_text h1:hover {
  filter: blur(15px);
}

.top .main_text h1 span {
  display: block;
  font-size: 1.875rem;
}

.top .main_text h1:last-child {
  text-indent: 30rem;
  position: relative;
}

.top .main_text h1:last-child span {
  position: absolute;
  right: 0;
}

.main_icon {
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.main_icon ul {
  align-items: center;
  gap: 38px;
}

/* middle */

.middle .sns {
  justify-content: space-evenly;
  font-size: 1.563rem;
}

.middle .sns a {
  z-index: 999;
}

.middle p.pt_sans {
  transform: translateY(10rem);
  text-decoration: underline;
}

/* 움직이는 텍스트 */
.animated-title1 {
  color: #10b3e2;
  font-size: 17.5rem;
  font-family: 'Universal Serif', 'Gentium Book Plus';
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 40vh;
  padding: 100px 0;
  overflow-x: hidden;
  overflow-y: hidden;
  transform: translateY(-5rem);
}

.animated-title1 .track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 80s linear infinite;
}

.animated-title {
  color: #10b3e2;
  font-size: 20rem;
  font-family: 'Universal Serif', 'Gentium Book Plus';
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 70vh;
  padding: 100px 0;
  overflow-x: hidden;
  overflow-y: hidden;
  transform: translateY(-5rem);
}

.animated-title .track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 150s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@media (hover: hover) and (min-width: 700px) {
  .animated-title .content {
    -webkit-transform: translateY(calc(100% - 8rem));
    transform: translateY(calc(100% - 8rem));
  }
}

.middle .main_images {
  width: 97%;
  margin: 0 auto;
}

.middle .main_images img {
  width: 100%;
}

.middle p {
  text-align: center;
  font-size: 2.125rem;
  margin: 50px auto;
}

/* main */

.main .text {
  padding-right: 20rem;
  padding-bottom: 20px;
  justify-content: space-between;
  font-size: 1.875rem;
  width: 97%;
  margin: 10rem auto 3.125rem;
  border-bottom: 2px solid #fff;
}

.main .img_box {
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 0 auto;
  place-items: center;
  row-gap: 58px;
}

.main .img_box img {
  width: 100%;
}

.main .img_box figure img {
  transition: 5s;
  margin-bottom: 30px;
}

.main .img_box figure img:hover {
  animation: img_mov infinite alternate;
  animation-name: img_mov;
  transform: translateY(30px);
}

@keyframes img_mov {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(30px);
  }
}

.main .img_box figure figcaption h5 {
  font-size: 1.875rem;
  border-bottom: 3px solid #fff;
  margin-bottom: 10px;
}

.main .img_box figure figcaption p {
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;
}

.main .img_box figure figcaption p span {
  color: #10b3e2;
}

.main .btn {
  width: 97%;
  height: 260px;
  font-size: 8.125rem;
  text-transform: uppercase;
  font-family: 'Universal Serif', 'Gentium Book Plus';
  display: block;
  text-align: center;
  border: 3px solid #fff;
  border-radius: 40px;
  line-height: 260px;
  margin: 100px auto;
  transition: 0.5s;
}

.main .btn:hover {
  color: #10b3e2;
  border: 3px solid #10b3e2;
  /* transform: translateY(50px); */
}

/* bottom */

.bottom {
  background: url(./images/footer_img.png) no-repeat 50% / cover;
  height: 65vh;
  padding: 100px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

.bottom p {
  color: #10b3e2;
}

.bottom .left_box {
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.bottom .left_box p {
  font-size: 1.563rem;
}
.bottom .left_box p a {
  text-decoration: underline;
}
.bottom .left_box img {
  width: 200px;
}

.bottom .right_box {
  flex-direction: column;
}

.bottom .right_box a {
  background-color: #5b5b5b;
  width: 280px;
  height: 55px;
  border-radius: 30px;
  line-height: 55px;
  margin-bottom: 20px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom .right_box select {
  background-color: transparent;
  color: #fff;
  height: 55px;
  border: 1px solid #fff;
}
/* footer */

footer ul.grid {
  margin: 0 auto;
  padding: 15px;
  width: 97%;
  grid-template-columns: repeat(3, 1fr);
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
}

footer .text_box {
  margin: 50px calc(50px - 12px);
  grid-template-columns: repeat(2, 1fr);
}

footer .text_box a {
  text-decoration: underline;
  display: block;
  width: 200px;
  height: 50px;
}

body {
  cursor: none;
  position: relative;
}

a:hover {
  /* pointer-events: none; */
  cursor: none;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 10px;
  aspect-ratio: 1;
  background-color: #fff;
  border-radius: 50%;
  z-index: 9999;
  transition: 0.3s;
}

.cursor.active {
  width: 30px;
}
